body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.navbar-right {
  margin-right: 15px !important;
}

.listingBorder {
  border: 1px black solid;
}
