body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.navbar-right {
  margin-right: 15px !important;
}

.listingBorder {
  border: 1px black solid;
}

.thumbnail {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.hidden {
  display:none;
}

#wrapper, img#headerImage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.navbar-logo-hfh {
  font-size: 36px;
  top: 3px;
  color: #D3D3D3;
  padding: 0 0 0 11px;
}

.navbar-links-hfh > li > a{
  color: black;
  font-size: 24px;
}
.center-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.transbox {
  text-align:center;
  margin: 30px;
  margin-top: 22%;
  height: 225px;
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox h1 {
  font-size: 64px;
  margin: 5%;
  padding-top: 6%;
  font-weight: bold;
  color: white;
}

.listingListImage {
  width: 100%;
}

.searchInput {
  float: right;
}
.searchLabel {
  font-size: 18px;
}
